@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .imgBx
{
    position: relative;
    width: 50%;
    height: 100%;
}
section .imgBx:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    mix-blend-mode: screen;
}
section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
}

section .contentBx
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .contentBx .formBx{
    width: 50%;
}
section .contentBx .formBx h2{
    color: rgb(39, 67, 137);  /*#607d8b;*/
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid rgb(159, 164, 192);         /*#ff4584;*/
    display: inline-block;
    letter-spacing: 1px;

}
section .contentBx .formBx .inputBx
{
    margin-bottom: 20px;

}
.form-label{
    font-size: 20px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 500;
    letter-spacing: 1px;

}

section .contentBx .formBx .inputBx input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;

}
.btn
{
    background: rgb(11, 67, 179);      /*#ff4584;*/
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    width: 100%;

   
}
.btn:hover
{
    background:rgb(129, 152, 197);    /*#f53677 ;*/
    color: white;
}

#formFile
{
  font-size: 17px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607d8b;
  font-weight: 400;
  letter-spacing: 1px;
}

section .contentBx .formBx .inputBx p{
    color: #607d8b;
}
section .contentBx .formBx .inputBx p a{
    color: #42b6ff;
    text-decoration: none;
}




.form-check {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap as needed */
    display: inline-block;
    margin-right: 5px;
    color: #607d8b;
  }
  