<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>IndustryXpert</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->

  <link href="/static/css/style1.css" rel="stylesheet">
  <link href="/static/css/style2.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet" />


  <link rel="icon" href="/static/img/favicon.png">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="">IndustryXpert</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="">Home</a></li>
          <li><a class="nav-link scrollto" href="/upload">Motion Amplification</a></li>
          <li><a class="nav-link scrollto" href="#Features">Features</a></li>
          <li><a class="getstarted scrollto" href="/login_page">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h1><br><br>Enhancing Safety and Efficiency in Industrial Environments</h1>
          <h2><br><br>
            Our innovative web-based application utilizes cutting-edge
            technology to ensure a safer and secure working environment.<br>
          </h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#Features" class="btn-get-started scrollto">Know More</a>
          </div>
        </div>

        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="/static/img/index_bg.png" class="img-fluid animated" alt="">
      </div>
      
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">


    <!-- ======= Services Section ======= -->
    <section id="Features" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Key Features</h2>
          <p>Industrial workplaces pose risks to both machinery and personnel. Our project aims to mitigate these risks
            by providing a platform that helps to establish a safer and more secure industrial
            environment.</p><br>

          <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4><a href="">Motion Amplification</a></h4>
                <p>Experience the power of motion amplification during equipment inspections. Our tool processes videos
                  of working machines and enhance maintenance insights.</p>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
              data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="">Emergency Alert</a></h4>
                <p>Stay prepared for emergencies with our alert system. In critical situations, individuals can easily
                  signal for help by waving to the nearest camera.</p>
              </div>
            </div>
            <br>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
              data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4><a href=""> Restricted Zone</a></h4>
                <p>Keep restricted areas secure with live CCTV feeds. Our system detects unauthorized access and raises
                  alerts,Ensuring safety.</p>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
              data-aos-delay="400">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-layer"></i></div>
                <h4><a href="">Safety gear Detection</a></h4>
                <p>Prioritize a safe working environment with our safety gear detection feature. By identifying safety
                  equipment and fire hazards in real-time.</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!--  Motion Section -->
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us section-bg">

      <div class="section-title">
        <h2>Motion Amplification</h2>
      </div>
      <div class="container-fluid" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content">
              <h3><strong>Unlock Hidden Motion:</strong>Introducing Our Motion Amplification Solution</h3>
              <p>
                Motion amplification is a groundbreaking feature of our app that enhances equipment inspection
                processes by revealing subtle movements that are often imperceptible to the naked eye.
              </p>
              <h4>Benifits</h4>
              <li><i class="ri-check-double-line"></i><strong>Early Detection:</strong> <p>By amplifying subtle
                movements, our platform enables early detection of potential issues, preventing unexpected breakdowns
                and minimizing downtime.</p></li>
              <li><i class="ri-check-double-line"></i><strong>Cost Savings: </strong> <p>Proactive maintenance reduces the
                need for costly emergency repairs and extends the lifespan of machinery, resulting in significant cost
                savings for organizations.</p> </li>
                <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">
                <div class="d-flex justify-content-center justify-content-lg-start">
                  <a href="/upload" class="btn-get-started scrollto">Try Now..</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 video" style='background-clip: content-box; margin-top: 20px;'
            data-aos="zoom-in" data-aos-delay="150">
            <video autoplay loop muted playsinline>
              <source src="/static/img/motionamp.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        
        

        </div>

      </div>
    </section>

    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <br><br>
            <h3>Our Mission:</h3>
            <p>
              Our mission is clear: to redefine safety in industrial environments through
              innovation, empowerment, and a relentless commitment to people. <br> We see safety not as a checkbox, but as an
              art form, meticulously crafted <br>with the latest technologies and creative thinking. 
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Why choose Us?</h3>
            <p>
              Why settle for the ordinary when you can have the extraordinary? Here's why IndustryXpert is the ultimate
              choice for revolutionizing safety and efficiency in your industrial environment:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i><strong>Innovation at its Finest:</strong> <p>We're not just another
                safety app;
                we're pioneers of progress. With our relentless pursuit of innovation, we're constantly pushing the
                boundaries of what's possible in industrial safety.</p></li>
              <li><i class="ri-check-double-line"></i> <strong>Simplified Safety:</strong> <p>Say goodbye to complex safety
                protocols and
                hello to simplicity. Our platform is designed with user-friendliness in mind. Safety has never been this
                simple....<a href="#Features" class="btn-learn-more">Learn More</a></p></li>


            </ul>

          </div>
        </div>

      </div>
    </section>




    <!-- ======= Footer ======= -->
    <footer id="footer">

      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>IndustryXpert</span></strong>
        </div>
      </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="fa-solid fa-arrow-turn-up"></i></a>


    <!-- Template Main JS File -->
    <script src="/static/js/main.js"></script>
    <script src="https://kit.fontawesome.com/ec53c9ed31.js" crossorigin="anonymous"></script>

</body>

</html>