<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Cameras</title>
    <link rel="stylesheet" href="/static/manage_cam.css">
   
</head>
<body>
    <section>
        <div class="imgBx">
            <img src="/static/manage_cam_bg.jpg">
        </div>
        <div class="contentBx">
                <div class="formBx">
                    <h2>Camera Details</h2>
                    <form>
                        <div class="inputBx">
                            <span>Camera ID</span>
                            <input type="text" name="">
                        </div>
                      
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Add Camera
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Remove Camera
                            </label>
                          </div>
                        <br>
                        <br>
                    
                        <!-- <div class="inputBx">
                            <span>Password</span>
                            <input type="password" name="">
                        </div> -->
                        <div class="remember">
                            <label><input type="checkbox" name=""><br>Fire</label>
                        </div>
                        <div class="remember">
                            <label><input type="checkbox" name=""><br>Pose Alert</label>
                        </div>
                        <div class="remember">
                            <label><input type="checkbox" name=""><br>Restricted Zone</label>
                        </div>
                        <div class="remember">
                            <label><input type="checkbox" name=""><br>Safety gear</label>
                        </div>
                        <div class="inputBx">
                            <input type="submit" value="Sign in" name="">
                        </div>
                    </form>
                </div> 
        </div>
    </section>
</body>
</html>